.name{
    color: #ff0000af;
}
.header-size{
    font-size: 50px;
    font-weight:700;
    color: rgba(0, 128, 43, 0.575);
}
.second-header{
    font-size: 40px;
    color: rgba(35, 51, 142, 0.856);
}
.paragraph{
    font-size: 30px;
}
.third-header{
    font-size: 40px;
    text-align: center;
    color: rgba(0, 0, 128, 0.767);
    
 
}
.half-width{
    float: left;
    width: 40%;
    margin-left: 2%;
    padding-left: 5%;


}

.half-width img{
    width:60% ;
}
.second-area{
    width: 100%;
    height: 800px;
}

.third-area{
    width: 100%;
    box-shadow: 10px 10px 40px gray;
    background-color: rgba(233, 219, 219, 0.767);
    
    height: 800px;
    }

.music{
    float: left;
    width: 20%;
    height: 50%;
    margin: 3% ;
    padding: 2%;
    box-shadow: 10px 20px 40px gray;
    background-color: whitesmoke;
    border-radius: 5px;
    background-position: center;
}
.music img{
    width: 100%;
    height: 80%;
    float: left;
}

.link-button{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(pink,hotpink);
    border-radius: 10px;
    color: ivory;
    font-weight: 700;
}
.forth-area{
    background-size: 100%y;
    margin: 5%;
    padding:5%;
    border-radius: 20px;
    background-image: url(images/Group_33094_1.png);
    background-position: center;
    background-repeat: no-repeat;
}
text{
    background-position: top;
}
.work{
    font-size: 60px;
    font-weight: 700;
    color: whitesmoke;
}
.forth-button{
    float: right;
    background-size: 100%;
}
.right{
    text-align: center;
}